// Variables
@import "variables";

@tailwind base;

@tailwind components;

.section {
    @apply .px-4;
}

.button {
    @apply bg-button text-default no-underline rounded-lg px-5 py-3;
    box-shadow: 0 2px 7px 0 #b0eaff;
}

.button:hover {
    @apply bg-button;
}

.button:focus {
    @apply outline-none shadow-outline;
}

.button:active {
    @apply bg-button;
}

.field {
    @apply rounded p-3 bg-transparent border border-gray-300 w-full my-2;
}

.card {
    @apply bg-card rounded-lg py-5 shadow;
}

@tailwind utilities;

.theme-light {
    --page-background-color: #F5F6F9;
    --card-background-color: white;
    --button-background-color: #47CDFF;
    --header-background-color: white;

    --text-default-color: #718096;
}

.theme-dark {
    --page-background-color: #17181E;
    --card-background-color: #1F2027;
    --button-background-color: #59B6F9;
    --header-background-color: #1F2027;

    --text-default-color: #e2e8f0;
}
